---
 const personalImageAlt = "Julia Isasti"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Julia Isasti, I'm originally from Buenos Aires, Argentina, and I'm Junior Full-Stack developer and Web Designer. I'm focused on building <strong
        >innovative and design-focused web applications.</strong
      >.
    </p>

    <p>
      I'm interested in how design intersects with technology, <strong
        >while maintaining an easy, funcional interface and experience for the user</strong
      >. This is why continuos training and studying is so important for me - I'm currently in a UX course to better my developing skills. 
    </p>

    <p>
      I have other passions, like writing about <strong
        >how technology and digital life is changing art, my collective book <em class="italic">Art in the Digital Era</em> is available in Spanish</strong
      >. I strive to learn more about technology so I can forever philosophize on art and computers. <3
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-pink-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
